TEMPLATE_DB_TYPE=postgres
TEMPLATE_DB_URL=postgresql+asyncpg://docuweave:docuweave@localhost:5432/docuweave_templates
DATA_DB_TYPE=postgres
DATA_DB_URL=postgresql://docuweave:docuweave@localhost:5433/docuweave_data
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
DEBUG=true
